<label for="Beach" class="categories">
    <input id="Beach" type="checkbox" name="listing[category]" value="Beach">
        <span>Beach</span>
</label>

<label for="Arctic" class="categories">
    <input id="Arctic" type="checkbox" name="listing[category]" value="Arctic">
        <span>Arctic</span>
</label>

<label for="Surfing" class="categories">
    <input id="Surfing" type="checkbox" name="listing[category]" value="Surfing">
        <span>Surfing</span>
</label>

<label for="Caves" class="categories">
    <input id="Caves" type="checkbox" name="listing[category]" value="Caves">
        <span>Caves</span>
</label>

<label for="Vineyards" class="categories">
    <input id="Vineyards" type="checkbox" name="listing[category]" value="Vineyards">
        <span>Vineyards</span>
</label>

<label for="Pools" class="categories">
    <input id="Pools" type="checkbox" name="listing[category]" value="Pools">
        <span>Pools</span>
</label>

<label for="Islands" class="categories">
    <input id="Islands" type="checkbox" name="listing[category]" value="Islands">
        <span>Islands</span>
</label>

<label for="Lake" class="categories">
    <input id="Lake" type="checkbox" name="listing[category]" value="Lake">
        <span>Lake</span>
</label>

<label for="Treehouses" class="categories">
    <input id="Treehouses" type="checkbox" name="listing[category]" value="Treehouses">
        <span>Treehouses</span>
</label>

<label for="Camping" class="categories">
    <input id="Camping" type="checkbox" name="listing[category]" value="Camping">
        <span>Camping</span>
</label>

<label for="Mansions" class="categories">
    <input id="Mansions" type="checkbox" name="listing[category]" value="Mansions">
        <span>Mansions</span>
</label>

<label for="Countryside" class="categories">
    <input id="Countryside" type="checkbox" name="listing[category]" value="Countryside">
        <span>Countryside</span>
</label>