<div class="swiper mySwiper f-swiper">
    <div class="filters-container swiper-wrapper">
        <div class="swiper-slide">
            <label for="Beach" class="filter-options">
                <input type="radio" name="category" id="Beach">
                <div>
                    <img src="https://a0.muscache.com/pictures/bcd1adc0-5cee-4d7a-85ec-f6730b0f8d0c.jpg" alt="">
                    <span>Beach</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Arctic" class="filter-options">
                <input type="radio" name="category" id="Arctic">
                <div>
                    <img src="https://a0.muscache.com/pictures/8b44f770-7156-4c7b-b4d3-d92549c8652f.jpg" alt="">
                    <span>Arctic</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Surfing" class="filter-options">
                <input type="radio" name="category" id="Surfing">
                <div>
                    <img src="https://a0.muscache.com/pictures/957f8022-dfd7-426c-99fd-77ed792f6d7a.jpg" alt="">
                    <span>Surfing</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Caves" class="filter-options">
                <input type="radio" name="category" id="Caves">
                <div>
                    <img src="	https://a0.muscache.com/pictures/4221e293-4770-4ea8-a4fa-9972158d4004.jpg" alt="">
                    <span>Caves</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Vineyards" class="filter-options">
                <input type="radio" name="category" id="Vineyards">
                <div>
                    <img src="https://a0.muscache.com/pictures/60ff02ae-d4a2-4d18-a120-0dd274a95925.jpg" alt="">
                    <span>Vineyards</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="pools" class="filter-options">
                <input type="radio" name="category" id="pools">
                <div>
                    <img src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="">
                    <span>Pools</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Islands" class="filter-options">
                <input type="radio" name="category" id="Islands">
                <div>
                    <img src="https://a0.muscache.com/pictures/8e507f16-4943-4be9-b707-59bd38d56309.jpg" alt="">
                    <span>Islands</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Lake" class="filter-options">
                <input type="radio" name="category" id="Lake">
                <div>
                    <img src="https://a0.muscache.com/pictures/677a041d-7264-4c45-bb72-52bff21eb6e8.jpg" alt="">
                    <span>Lake</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Treehouse" class="filter-options">
                <input type="radio" name="category" id="Treehouse">
                <div>
                    <img src="	https://a0.muscache.com/pictures/4d4a4eba-c7e4-43eb-9ce2-95e1d200d10e.jpg" alt="">
                    <span>Treehouses</span>
                </div>
            </label>
          </div>
          <div class="swiper-slide f-swiper-slide">
            <label for="Camping" class="filter-options">
                <input type="radio" name="category" id="Camping">
                <div>
                    <img src="https://a0.muscache.com/pictures/ca25c7f3-0d1f-432b-9efa-b9f5dc6d8770.jpg" alt="">
                    <span>Camping</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Mansions" class="filter-options">
                <input type="radio" name="category" id="Mansions">
                <div>
                    <img src="https://a0.muscache.com/pictures/78ba8486-6ba6-4a43-a56d-f556189193da.jpg" alt="">
                    <span>Mansions</span>
                </div>
            </label>
          </div>
        
          <div class="swiper-slide f-swiper-slide">
            <label for="Countryside" class="filter-options">
                <input type="radio" name="category" id="Countryside">
                <div>
                    <img src="https://a0.muscache.com/pictures/6ad4bd95-f086-437d-97e3-14d12155ddfe.jpg" alt="">
                    <span>Countryside</span>
                </div>
            </label>
          </div>
    </div>
    <div class="swiper-button-next swiper-btn">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="swiper-button-prev swiper-btn">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
</div>