<hr class="hr-line">
<div>
    <div class="footer-div-1">
        <div>
            <i class="fa-solid fa-globe globe"></i>
            <p class="medium">English (IN)</p>
        </div>
        <div>
            <p class="medium">
                &#8377; INR
            </p>
        </div>
        <div>
            <i class="fa-brands fa-square-facebook globe"></i>
            <i class="fa-brands fa-square-twitter globe"></i>
            <i class="fa-brands fa-square-instagram globe"></i>
        </div>
    </div>
    <div class="thin">
        <p>&#169; 2024 Airbnb, Inc.</p>
    </div>
    <div>
        <a class="color-grey" href="#">Privacy</a>&#x2022;
        <a class="color-grey" href="#">Terms</a>&#x2022;
        <a class="color-grey" href="#">Sitemap</a>&#x2022;
        <a class="color-grey" href="#">Company details</a>
    </div>
</div>